html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--header-text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.logo--header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--icon-black-color);
}

.logo--header .logo__item {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo--header {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--icon-white-color);
}

.logo--footer .logo__item {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo--footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__conteiner {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__conteiner {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.link.navigation__link--current {
  color: var(--accent-color);
}

.navigation__menu {
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current.navigation__link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -22px;
}

@media screen and (min-width: 1200px) {
  .navigation__link--current.navigation__link::after {
    bottom: -31.4px;
  }
}

@media screen and (max-width: 767px) {
  .auth {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth {
    flex-wrap: wrap;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth {
    display: flex;
    margin-left: auto;
  }
}

.auth__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth__link:hover, .auth__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .auth__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .auth__tel {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth__tel {
    margin-top: 0;
    margin-left: 50px;
  }
}

.auth__mail-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .auth__mail-icon {
    width: 16px;
    height: 12px;
  }
}

.auth__tel-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .auth__tel-icon {
    width: 10px;
    height: 16px;
  }
}

.header_btn {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header_btn .header_icon {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .header_btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header_btn {
    display: none;
  }
}

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --white-title-color: #ffffff;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --background-item-color: #f5f4fa;
  --icons-media-color: #afb1b8;
  --icon-black-color: #000000;
  --icon-white-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  widows: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*# sourceMappingURL=main.css.map */