//BASE
@import './base/common';
@import './base/common-class';

//COMPONENTS
@import './components/conteiner';
@import './components/section';
@import './components/social__icons';
@import './components/modal__btn';
@import './components/titles';
@import './components/logo';
@import './components/backdrop';
@import './components/modal';
@import './components/modal__form';
@import './components/mobile__menu';

//LAYOUT
@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/activity';
@import './layout/team';
@import './layout/clients';
@import './layout/portfolio';
@import './layout/footer';

//UTILS
@import './utils/variables';
@import './utils/visually-hidden';
