.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__conteiner {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.link.navigation__link--current {
  color: var(--accent-color);
}

.navigation__menu {
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link--current.navigation__link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -22px;
  @media screen and (min-width: 1200px) {
    bottom: -31.4px;
  }
}

.auth {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.auth__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth__tel {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.auth__mail-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.auth__tel-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.header__btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0px;
  line-height: 0px;
  height: 40px;
  width: 40px;
  .header__icon {
    height: 40px;
    width: 40px;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile {
  position: absolute;
  transform: translateY(-101%);
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  padding: 48px 40px;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--white-title-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile.is-open {
  pointer-events: all;
  visibility: visible;
  position: fixed;
  transform: translateY(0);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__close {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0px;
  line-height: 0px;
  .mobile_close-icon {
    height: 40px;
    width: 40px;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile__nav {
}
.list {
}
.mobile__item {
}
.mobile__link {
}
.link {
}
.mobile__link--current {
}
