// .activity__title,
// .team__title,
// .clients__title {
//   display: block;
//   font-weight: bold;
//   font-size: 36px;
//   line-height: 1.16;
//   letter-spacing: 0.03em;
//   color: var(--primary-title-color);
//   text-align: center;
//   margin-bottom: 50px;
// }
