:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --white-title-color: #ffffff;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --background-item-color: #f5f4fa;
  --icons-media-color: #afb1b8;
  --icon-black-color: #000000;
  --icon-white-color: #ffffff;
}
